@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
}

#header .container,
#header-sub .container {
  min-height: 100vh;
}
#header-sub .header-sub-text {
  color: #ffffff;
  font-size: 1.5rem;
}
.section h2 {
  text-transform: uppercase;
  color: #757171;
  letter-spacing: 0.5rem;
  padding-bottom: 20px;
  font-size: 2rem;
  padding-top: 10px;
  font-weight: 100;
}
#header {
  /* background: url(../img/banner/banner.png); */
  background: url('../img/banner/banner.png');
  background-position: top center;
  background-size: cover;
  position: relative;
}
#header .header {
  width: 100%;
}
#header .header-info {
  padding-top: 15rem;
}
#header h1 {
  display: block;
  width: fit-content;
  font-size: 6rem;
  position: relative;
  color: #7b7777;
  font-weight: 700;
  margin-left: -5px;
}
#header p {
  font-size: 2rem;
  color: #ffffff;
}
#header .frontend {
  color: firebrick;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 6rem;
  font-family: 'Architects Daughter', cursive;
}
#header .wordpress {
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Architects Daughter', cursive;
}
#header .job-title {
  padding-top: 10rem;
}
#header-sub {
  background: url(../img/banner/banner.png);
  background-size: cover;
  background-position: top center;
  position: relative;
}
#header-sub .header {
  padding-top: 6rem;
}
#header-sub h1 {
  font-size: 5.5rem;
  position: relative;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
}
#header h2 {
  color: #ffffff;
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
}
#header h3 {
  color: #757171;
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
  font-weight: 100;
}
#header .fa-high-five {
  color: #d3a426;
}
#header span,
#header-sub span {
  color: firebrick;
  font-weight: lighter;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
#header .header .btn,
#header-sub .btn {
  background-color: transparent;
  border: 1px solid #c03131;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  transition: 0.5s ease;
  transition-property: background-color, color;
}
#header .btn:hover,
#header-sub .btn:hover {
  background-color: #c03131;
}

#header-sub .header-para p {
  font-size: 1.5rem;
  color: #ffffff;
  padding-top: 4rem;
  text-align: justify;
}
/*Side Nav*/
.side-nav {
  min-height: 100vh;
  background-color: #141414;
}
#side-nav {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 50px;
}
.nav-links .fa-menu {
  color: #757171;
  font-size: 2rem;
}
.social-links .fa-menu {
  color: #757171;
  font-size: 1.5rem;
}
.social-links .fa-menu:hover {
  color: firebrick;
}
/*Top nav*/
#top-nav .top-nav {
  background-color: #141414;
}

#top-nav .top-logo {
  width: 50px;
}
#top-nav .nav-item a:hover span,
#side-nav .nav-item a:hover span {
  color: #ffffff;
}
/*Menu Keyframes*/
@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes slide-down {
  0% {
    opacity: 0;
    -moz-transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
/*Page transition*/
/*======================keyframes====================*/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header {
  opacity: 0; /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards; /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}

/*banner text animation*/
#header #text-animate h1 span {
  display: inline-block;
  animation: animate 1s linear forwards;
  color: #ffffff;
}
#header #text-animate h2 span {
  display: inline-block;
  animation: animate 2s linear forwards;
  color: #ffffff;
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: rotateY(90deg);
    filter: blur(10px);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg);
    filter: blur(0px);
  }
}
#header #text-animate h1 span:nth-child(1) {
  animation-delay: 1s;
}
#header #text-animate h1 span:nth-child(2) {
  animation-delay: 2s;
}
#header #text-animate h1 span:nth-child(3) {
  animation-delay: 2.5s;
}
#header #text-animate h1 span:nth-child(4) {
  animation-delay: 3s;
}
#header #text-animate h1 span:nth-child(5) {
  animation-delay: 3.5s;
}
#header #text-animate h1 span:nth-child(6) {
  animation-delay: 4s;
}
#header #text-animate h1 span:nth-child(7) {
  animation-delay: 4.5s;
}
#header #text-animate h1 span:nth-child(8) {
  animation-delay: 5s;
  color: firebrick;
}
#header #text-animate h1 span:nth-child(9) {
  animation-delay: 5.5s;
  color: firebrick;
}
#header #text-animate h1 span:nth-child(10) {
  animation-delay: 6s;
  color: firebrick;
}
#header #text-animate h1 span:nth-child(11) {
  animation-delay: 6.5s;
  color: firebrick;
}
#header #text-animate h1 span:nth-child(12) {
  animation-delay: 7s;
  color: firebrick;
}
#header #text-animate h1 span:nth-child(13) {
  animation-delay: 7.5s;
  color: firebrick;
}
#header #text-animate h1 span:nth-child(14) {
  animation-delay: 8s;
  color: firebrick;
}
#header #text-animate h2 span:nth-child(1) {
  animation-delay: 8.5s;
}
#header #text-animate h2 span:nth-child(2) {
  animation-delay: 9s;
}
#header #text-animate h2 span:nth-child(3) {
  animation-delay: 9.5s;
}
#header #text-animate h2 span:nth-child(4) {
  animation-delay: 10s;
}
#header #text-animate h2 span:nth-child(5) {
  animation-delay: 10.5s;
}
#header #text-animate h2 span:nth-child(6) {
  animation-delay: 11s;
}
#header #text-animate h2 span:nth-child(7) {
  animation-delay: 11.5s;
}
#header #text-animate h2 span:nth-child(8) {
  animation-delay: 12s;
}
#header #text-animate h2 span:nth-child(9) {
  animation-delay: 12.5s;
}
#header #text-animate h2 span:nth-child(10) {
  animation-delay: 13s;
}
#header #text-animate h2 span:nth-child(11) {
  animation-delay: 13.5s;
}
#header #text-animate h2 span:nth-child(12) {
  animation-delay: 14s;
}
/*banner animation*/
.solar-syst {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  position: relative;
}
.solar-syst:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 2px;
  top: -2px;
  background: white;
  box-shadow: 579px 685px 0 0px rgba(255, 255, 255, 0.833),
    400px 938px 0 0px rgba(255, 255, 255, 0.958),
    1651px 1279px 0 0px rgba(255, 255, 255, 0.461),
    148px 1147px 0 0px rgba(255, 255, 255, 0.573),
    1188px 1616px 0 0px rgba(255, 255, 255, 0.905),
    912px 328px 0 0px rgba(255, 255, 255, 0.9),
    1268px 1032px 0 0px rgba(255, 255, 255, 0.656),
    1457px 944px 0 0px rgba(255, 255, 255, 0.061),
    1789px 178px 0 0px rgba(255, 255, 255, 0.685),
    1773px 1499px 0 0px rgba(255, 255, 255, 0.815),
    1597px 489px 0 0px rgba(255, 255, 255, 0.216),
    53px 451px 0 0px rgba(255, 255, 255, 0.28),
    602px 305px 0 0px rgba(255, 255, 255, 0.997),
    1510px 548px 0 0px rgba(255, 255, 255, 0.952),
    1726px 183px 0 0px rgba(255, 255, 255, 0.387),
    115px 735px 0 0px rgba(255, 255, 255, 0.396),
    186px 881px 0 0px rgba(255, 255, 255, 0.045),
    1061px 781px 0 0px rgba(255, 255, 255, 0.988),
    955px 216px 0 0px rgba(255, 255, 255, 0.049),
    1131px 1462px 0 0px rgba(255, 255, 255, 0.502),
    419px 1331px 0 0px rgba(255, 255, 255, 0.823),
    1344px 936px 0 0px rgba(255, 255, 255, 0.755),
    17px 399px 0 0px rgba(255, 255, 255, 0.231),
    766px 1419px 0 0px rgba(255, 255, 255, 0.059),
    169px 1558px 0 0px rgba(255, 255, 255, 0.461),
    155px 1222px 0 0px rgba(255, 255, 255, 0.791),
    757px 1310px 0 0px rgba(255, 255, 255, 0.282),
    1367px 1791px 0 0px rgba(255, 255, 255, 0.311),
    771px 1077px 0 0px rgba(255, 255, 255, 0.962),
    589px 1205px 0 0px rgba(255, 255, 255, 0.135),
    900px 1272px 0 0px rgba(255, 255, 255, 0.926),
    68px 993px 0 0px rgba(255, 255, 255, 0.432),
    845px 372px 0 0px rgba(255, 255, 255, 0.008),
    711px 1766px 0 0px rgba(255, 255, 255, 0.564),
    902px 536px 0 0px rgba(255, 255, 255, 0.75),
    263px 416px 0 0px rgba(255, 255, 255, 0.608),
    1608px 1305px 0 0px rgba(255, 255, 255, 0.069),
    1621px 1210px 0 0px rgba(255, 255, 255, 0.311),
    1370px 570px 0 0px rgba(255, 255, 255, 0.589),
    910px 512px 0 0px rgba(255, 255, 255, 0.454),
    968px 665px 0 0px rgba(255, 255, 255, 0.992),
    1012px 1438px 0 0px rgba(255, 255, 255, 0.446),
    293px 197px 0 0px rgba(255, 255, 255, 0.633),
    682px 632px 0 0px rgba(255, 255, 255, 0.629),
    642px 218px 0 0px rgba(255, 255, 255, 0.24),
    930px 179px 0 0px rgba(255, 255, 255, 0.581),
    779px 1215px 0 0px rgba(255, 255, 255, 0.42),
    309px 9px 0 0px rgba(255, 255, 255, 0.937),
    251px 373px 0 0px rgba(255, 255, 255, 0.795),
    1789px 243px 0 0px rgba(255, 255, 255, 0.982),
    57px 365px 0 0px rgba(255, 255, 255, 0.441),
    1320px 125px 0 0px rgba(255, 255, 255, 0.082),
    935px 1339px 0 0px rgba(255, 255, 255, 0.418),
    763px 82px 0 0px rgba(255, 255, 255, 0.134),
    633px 64px 0 0px rgba(255, 255, 255, 0.847),
    237px 1613px 0 0px rgba(255, 255, 255, 0.083),
    131px 1718px 0 0px rgba(255, 255, 255, 0.093),
    9px 1773px 0 0px rgba(255, 255, 255, 0.727),
    229px 457px 0 0px rgba(255, 255, 255, 0.427),
    827px 444px 0 0px rgba(255, 255, 255, 0.357),
    1132px 411px 0 0px rgba(255, 255, 255, 0.251),
    491px 713px 0 0px rgba(255, 255, 255, 0.398),
    89px 957px 0 0px rgba(255, 255, 255, 0.521),
    1251px 1260px 0 0px rgba(255, 255, 255, 0.263),
    700px 119px 0 0px rgba(255, 255, 255, 0.756),
    897px 740px 0 0px rgba(255, 255, 255, 0.88),
    1763px 1047px 0 0px rgba(255, 255, 255, 0.674),
    1141px 1418px 0 0px rgba(255, 255, 255, 0.195),
    610px 397px 0 0px rgba(255, 255, 255, 0.654),
    616px 796px 0 0px rgba(255, 255, 255, 0.506),
    900px 1270px 0 0px rgba(255, 255, 255, 0.954),
    1311px 586px 0 0px rgba(255, 255, 255, 0.348),
    540px 706px 0 0px rgba(255, 255, 255, 0.135),
    1724px 994px 0 0px rgba(255, 255, 255, 0.898),
    750px 704px 0 0px rgba(255, 255, 255, 0.669),
    721px 854px 0 0px rgba(255, 255, 255, 0.854),
    676px 351px 0 0px rgba(255, 255, 255, 0.778),
    43px 836px 0 0px rgba(255, 255, 255, 0.807),
    496px 1758px 0 0px rgba(255, 255, 255, 0.836),
    1227px 1558px 0 0px rgba(255, 255, 255, 0.137),
    6px 1712px 0 0px rgba(255, 255, 255, 0.101),
    702px 694px 0 0px rgba(255, 255, 255, 0.484),
    943px 408px 0 0px rgba(255, 255, 255, 0.795),
    1557px 1768px 0 0px rgba(255, 255, 255, 0.298),
    1508px 779px 0 0px rgba(255, 255, 255, 0.286),
    385px 1055px 0 0px rgba(255, 255, 255, 0.619),
    1360px 196px 0 0px rgba(255, 255, 255, 0.244),
    1365px 1719px 0 0px rgba(255, 255, 255, 0.729),
    1320px 161px 0 0px rgba(255, 255, 255, 0.266),
    1250px 1706px 0 0px rgba(255, 255, 255, 0.468),
    633px 1394px 0 0px rgba(255, 255, 255, 0.808),
    773px 443px 0 0px rgba(255, 255, 255, 0.59),
    878px 799px 0 0px rgba(255, 255, 255, 0.173),
    1707px 979px 0 0px rgba(255, 255, 255, 0.24),
    1437px 1780px 0 0px rgba(255, 255, 255, 0.724),
    1104px 1184px 0 0px rgba(255, 255, 255, 0.91),
    1182px 371px 0 0px rgba(255, 255, 255, 0.019),
    1623px 885px 0 0px rgba(255, 255, 255, 0.073),
    1085px 129px 0 0px rgba(255, 255, 255, 0.988),
    1576px 40px 0 0px rgba(255, 255, 255, 0.119),
    921px 113px 0 0px rgba(255, 255, 255, 0.006),
    599px 648px 0 0px rgba(255, 255, 255, 0.179),
    1084px 1265px 0 0px rgba(255, 255, 255, 0.006),
    1602px 1270px 0 0px rgba(255, 255, 255, 0.383),
    192px 985px 0 0px rgba(255, 255, 255, 0.657),
    1380px 1321px 0 0px rgba(255, 255, 255, 0.391),
    466px 759px 0 0px rgba(255, 255, 255, 0.081),
    743px 1470px 0 0px rgba(255, 255, 255, 0.877),
    1543px 607px 0 0px rgba(255, 255, 255, 0.716),
    1367px 590px 0 0px rgba(255, 255, 255, 0.135),
    373px 1712px 0 0px rgba(255, 255, 255, 0.873),
    826px 678px 0 0px rgba(255, 255, 255, 0.421),
    1241px 1265px 0 0px rgba(255, 255, 255, 0.844),
    1644px 299px 0 0px rgba(255, 255, 255, 0.824),
    593px 127px 0 0px rgba(255, 255, 255, 0.306),
    1640px 510px 0 0px rgba(255, 255, 255, 0.103),
    135px 1693px 0 0px rgba(255, 255, 255, 0.456),
    1073px 1379px 0 0px rgba(255, 255, 255, 0.306),
    669px 98px 0 0px rgba(255, 255, 255, 0.649),
    1517px 445px 0 0px rgba(255, 255, 255, 0.205),
    573px 1640px 0 0px rgba(255, 255, 255, 0.124),
    1007px 1382px 0 0px rgba(255, 255, 255, 0.797),
    348px 1342px 0 0px rgba(255, 255, 255, 0.412),
    799px 730px 0 0px rgba(255, 255, 255, 0.91),
    132px 988px 0 0px rgba(255, 255, 255, 0.368),
    1704px 1741px 0 0px rgba(255, 255, 255, 0.299),
    60px 497px 0 0px rgba(255, 255, 255, 0.975),
    1250px 1635px 0 0px rgba(255, 255, 255, 0.415),
    612px 207px 0 0px rgba(255, 255, 255, 0.182),
    212px 1739px 0 0px rgba(255, 255, 255, 0.207),
    976px 243px 0 0px rgba(255, 255, 255, 0.672),
    1703px 1005px 0 0px rgba(255, 255, 255, 0.86),
    622px 54px 0 0px rgba(255, 255, 255, 0.808),
    1096px 1480px 0 0px rgba(255, 255, 255, 0.104),
    1432px 1775px 0 0px rgba(255, 255, 255, 0.746),
    806px 302px 0 0px rgba(255, 255, 255, 0.55),
    228px 725px 0 0px rgba(255, 255, 255, 0.731),
    223px 850px 0 0px rgba(255, 255, 255, 0.188),
    1451px 442px 0 0px rgba(255, 255, 255, 0.151),
    340px 33px 0 0px rgba(255, 255, 255, 0.207),
    620px 1098px 0 0px rgba(255, 255, 255, 0.952),
    1509px 1460px 0 0px rgba(255, 255, 255, 0.392),
    797px 1181px 0 0px rgba(255, 255, 255, 0.587),
    1702px 1060px 0 0px rgba(255, 255, 255, 0.601),
    623px 71px 0 0px rgba(255, 255, 255, 0.589),
    1756px 333px 0 0px rgba(255, 255, 255, 0.267),
    283px 1002px 0 0px rgba(255, 255, 255, 0.3),
    1778px 297px 0 0px rgba(255, 255, 255, 0.423),
    482px 772px 0 0px rgba(255, 255, 255, 0.08),
    1394px 929px 0 0px rgba(255, 255, 255, 0.077),
    209px 1321px 0 0px rgba(255, 255, 255, 0.113),
    208px 1258px 0 0px rgba(255, 255, 255, 0.367),
    1161px 1480px 0 0px rgba(255, 255, 255, 0.819),
    1528px 56px 0 0px rgba(255, 255, 255, 0.073),
    725px 1029px 0 0px rgba(255, 255, 255, 0.109),
    1461px 724px 0 0px rgba(255, 255, 255, 0.315),
    1355px 1520px 0 0px rgba(255, 255, 255, 0.855),
    619px 1546px 0 0px rgba(255, 255, 255, 0.652),
    1136px 936px 0 0px rgba(255, 255, 255, 0.422),
    404px 113px 0 0px rgba(255, 255, 255, 0.332),
    405px 1576px 0 0px rgba(255, 255, 255, 0.211),
    419px 484px 0 0px rgba(255, 255, 255, 0.307),
    1168px 200px 0 0px rgba(255, 255, 255, 0.339),
    1118px 1031px 0 0px rgba(255, 255, 255, 0.341),
    1428px 1562px 0 0px rgba(255, 255, 255, 0.632),
    1255px 334px 0 0px rgba(255, 255, 255, 0.38),
    397px 1120px 0 0px rgba(255, 255, 255, 0.25),
    1757px 219px 0 0px rgba(255, 255, 255, 0.808),
    1580px 327px 0 0px rgba(255, 255, 255, 0.099),
    1512px 695px 0 0px rgba(255, 255, 255, 0.181),
    1742px 551px 0 0px rgba(255, 255, 255, 0.471),
    885px 695px 0 0px rgba(255, 255, 255, 0.591),
    1747px 1123px 0 0px rgba(255, 255, 255, 0.309),
    1171px 1277px 0 0px rgba(255, 255, 255, 0.569),
    1205px 1759px 0 0px rgba(255, 255, 255, 0.362),
    864px 1055px 0 0px rgba(255, 255, 255, 0.866),
    821px 880px 0 0px rgba(255, 255, 255, 0.538),
    1389px 1310px 0 0px rgba(255, 255, 255, 0.885),
    1194px 338px 0 0px rgba(255, 255, 255, 0.77),
    1207px 1205px 0 0px rgba(255, 255, 255, 0.683),
    896px 624px 0 0px rgba(255, 255, 255, 0.611),
    455px 1310px 0 0px rgba(255, 255, 255, 0.222),
    185px 921px 0 0px rgba(255, 255, 255, 0.641),
    1604px 1453px 0 0px rgba(255, 255, 255, 0.469),
    748px 1194px 0 0px rgba(255, 255, 255, 0.963),
    374px 36px 0 0px rgba(255, 255, 255, 0.248),
    796px 882px 0 0px rgba(255, 255, 255, 0.277),
    1366px 980px 0 0px rgba(255, 255, 255, 0.272),
    1682px 445px 0 0px rgba(255, 255, 255, 0.007),
    279px 456px 0 0px rgba(255, 255, 255, 0.21),
    1441px 1117px 0 0px rgba(255, 255, 255, 0.253),
    666px 1662px 0 0px rgba(255, 255, 255, 0.583),
    1630px 1659px 0 0px rgba(255, 255, 255, 0.455),
    303px 952px 0 0px rgba(255, 255, 255, 0.038),
    305px 310px 0 0px rgba(255, 255, 255, 0.592),
    1272px 861px 0 0px rgba(255, 255, 255, 0.601),
    933px 61px 0 0px rgba(255, 255, 255, 0.282),
    676px 777px 0 0px rgba(255, 255, 255, 0.413),
    418px 1529px 0 0px rgba(255, 255, 255, 0.753),
    1367px 1190px 0 0px rgba(255, 255, 255, 0.315),
    712px 712px 0 0px rgba(255, 255, 255, 0.135),
    692px 1604px 0 0px rgba(255, 255, 255, 0.1),
    95px 938px 0 0px rgba(255, 255, 255, 0.66),
    688px 1716px 0 0px rgba(255, 255, 255, 0.475),
    1071px 927px 0 0px rgba(255, 255, 255, 0.886),
    40px 475px 0 0px rgba(255, 255, 255, 0.693),
    507px 605px 0 0px rgba(255, 255, 255, 0.298),
    911px 787px 0 0px rgba(255, 255, 255, 0.348),
    1452px 971px 0 0px rgba(255, 255, 255, 0.674),
    987px 1148px 0 0px rgba(255, 255, 255, 0.452),
    536px 1238px 0 0px rgba(255, 255, 255, 0.064),
    1468px 1500px 0 0px rgba(255, 255, 255, 0.927),
    1491px 253px 0 0px rgba(255, 255, 255, 0.86),
    1629px 1708px 0 0px rgba(255, 255, 255, 0.839),
    1510px 1426px 0 0px rgba(255, 255, 255, 0.817),
    189px 903px 0 0px rgba(255, 255, 255, 0.574),
    1128px 315px 0 0px rgba(255, 255, 255, 0.175),
    826px 1632px 0 0px rgba(255, 255, 255, 0.711),
    1337px 1226px 0 0px rgba(255, 255, 255, 0.08),
    1444px 1193px 0 0px rgba(255, 255, 255, 0.608),
    1722px 1334px 0 0px rgba(255, 255, 255, 0.595),
    1385px 889px 0 0px rgba(255, 255, 255, 0.51),
    704px 491px 0 0px rgba(255, 255, 255, 0.725),
    622px 96px 0 0px rgba(255, 255, 255, 0.311),
    1466px 1619px 0 0px rgba(255, 255, 255, 0.078),
    88px 717px 0 0px rgba(255, 255, 255, 0.153),
    146px 1339px 0 0px rgba(255, 255, 255, 0.552),
    1737px 1091px 0 0px rgba(255, 255, 255, 0.419),
    750px 1686px 0 0px rgba(255, 255, 255, 0.495),
    711px 963px 0 0px rgba(255, 255, 255, 0.134),
    240px 875px 0 0px rgba(255, 255, 255, 0.652),
    1745px 465px 0 0px rgba(255, 255, 255, 0.424),
    1457px 1519px 0 0px rgba(255, 255, 255, 0.316),
    402px 1203px 0 0px rgba(255, 255, 255, 0.055),
    646px 1267px 0 0px rgba(255, 255, 255, 0.069),
    1303px 207px 0 0px rgba(255, 255, 255, 0.399),
    517px 374px 0 0px rgba(255, 255, 255, 0.144),
    497px 1193px 0 0px rgba(255, 255, 255, 0.379),
    515px 1583px 0 0px rgba(255, 255, 255, 0.619),
    1122px 997px 0 0px rgba(255, 255, 255, 0.056),
    1125px 1489px 0 0px rgba(255, 255, 255, 0.021),
    834px 442px 0 0px rgba(255, 255, 255, 0.794),
    1085px 1596px 0 0px rgba(255, 255, 255, 0.591),
    88px 1715px 0 0px rgba(255, 255, 255, 0.808),
    650px 1164px 0 0px rgba(255, 255, 255, 0.537),
    1334px 99px 0 0px rgba(255, 255, 255, 0.25),
    615px 208px 0 0px rgba(255, 255, 255, 0.659),
    1038px 729px 0 0px rgba(255, 255, 255, 0.306),
    624px 1667px 0 0px rgba(255, 255, 255, 0.368),
    1442px 881px 0 0px rgba(255, 255, 255, 0.214),
    846px 324px 0 0px rgba(255, 255, 255, 0.979),
    4px 1369px 0 0px rgba(255, 255, 255, 0.813),
    1526px 454px 0 0px rgba(255, 255, 255, 0.604),
    817px 1614px 0 0px rgba(255, 255, 255, 0.519),
    1508px 903px 0 0px rgba(255, 255, 255, 0.229),
    486px 363px 0 0px rgba(255, 255, 255, 0.682),
    359px 1094px 0 0px rgba(255, 255, 255, 0.749),
    1026px 1055px 0 0px rgba(255, 255, 255, 0.41),
    1021px 49px 0 0px rgba(255, 255, 255, 0.002),
    788px 1467px 0 0px rgba(255, 255, 255, 0.409),
    802px 1766px 0 0px rgba(255, 255, 255, 0.511),
    931px 146px 0 0px rgba(255, 255, 255, 0.359),
    1785px 1584px 0 0px rgba(255, 255, 255, 0.427),
    715px 115px 0 0px rgba(255, 255, 255, 0.336),
    1554px 660px 0 0px rgba(255, 255, 255, 0.154),
    905px 154px 0 0px rgba(255, 255, 255, 0.027),
    612px 278px 0 0px rgba(255, 255, 255, 0.61),
    1658px 384px 0 0px rgba(255, 255, 255, 0.792),
    200px 1722px 0 0px rgba(255, 255, 255, 0.977),
    1184px 1687px 0 0px rgba(255, 255, 255, 0.912),
    915px 1797px 0 0px rgba(255, 255, 255, 0.221),
    1349px 1416px 0 0px rgba(255, 255, 255, 0.658),
    95px 286px 0 0px rgba(255, 255, 255, 0.65),
    331px 709px 0 0px rgba(255, 255, 255, 0.559),
    1693px 1136px 0 0px rgba(255, 255, 255, 0.784),
    498px 501px 0 0px rgba(255, 255, 255, 0.41),
    218px 322px 0 0px rgba(255, 255, 255, 0.446),
    66px 1329px 0 0px rgba(255, 255, 255, 0.683),
    837px 230px 0 0px rgba(255, 255, 255, 0.023),
    262px 285px 0 0px rgba(255, 255, 255, 0.863),
    338px 1532px 0 0px rgba(255, 255, 255, 0.858),
    504px 1419px 0 0px rgba(255, 255, 255, 0.098),
    1396px 873px 0 0px rgba(255, 255, 255, 0.36),
    365px 167px 0 0px rgba(255, 255, 255, 0.28),
    543px 1381px 0 0px rgba(255, 255, 255, 0.833),
    1640px 938px 0 0px rgba(255, 255, 255, 0.294),
    772px 224px 0 0px rgba(255, 255, 255, 0.396),
    784px 907px 0 0px rgba(255, 255, 255, 0.204),
    1756px 855px 0 0px rgba(255, 255, 255, 0.235),
    1234px 1790px 0 0px rgba(255, 255, 255, 0.834),
    806px 1733px 0 0px rgba(255, 255, 255, 0.832),
    25px 895px 0 0px rgba(255, 255, 255, 0.153),
    1774px 800px 0 0px rgba(255, 255, 255, 0.656),
    294px 495px 0 0px rgba(255, 255, 255, 0.871),
    1155px 492px 0 0px rgba(255, 255, 255, 0.22),
    1307px 1619px 0 0px rgba(255, 255, 255, 0.713),
    1085px 952px 0 0px rgba(255, 255, 255, 0.364),
    484px 846px 0 0px rgba(255, 255, 255, 0.794),
    1302px 1558px 0 0px rgba(255, 255, 255, 0.284),
    1056px 665px 0 0px rgba(255, 255, 255, 0.445),
    1507px 590px 0 0px rgba(255, 255, 255, 0.547),
    1716px 875px 0 0px rgba(255, 255, 255, 0.292),
    626px 908px 0 0px rgba(255, 255, 255, 0.549),
    1604px 1383px 0 0px rgba(255, 255, 255, 0.583),
    379px 499px 0 0px rgba(255, 255, 255, 0.036),
    1532px 1303px 0 0px rgba(255, 255, 255, 0.779),
    586px 1721px 0 0px rgba(255, 255, 255, 0.515),
    984px 916px 0 0px rgba(255, 255, 255, 0.337),
    188px 229px 0 0px rgba(255, 255, 255, 0.871),
    585px 1592px 0 0px rgba(255, 255, 255, 0.909),
    129px 58px 0 0px rgba(255, 255, 255, 0.602),
    1015px 236px 0 0px rgba(255, 255, 255, 0.088),
    1505px 136px 0 0px rgba(255, 255, 255, 0.519),
    992px 45px 0 0px rgba(255, 255, 255, 0.509),
    1683px 1744px 0 0px rgba(255, 255, 255, 0.084),
    648px 1000px 0 0px rgba(255, 255, 255, 0.094),
    302px 1649px 0 0px rgba(255, 255, 255, 0.439),
    289px 936px 0 0px rgba(255, 255, 255, 0.228),
    1331px 984px 0 0px rgba(255, 255, 255, 0.783),
    219px 1431px 0 0px rgba(255, 255, 255, 0.294),
    1408px 448px 0 0px rgba(255, 255, 255, 0.919),
    1597px 1635px 0 0px rgba(255, 255, 255, 0.426),
    941px 1290px 0 0px rgba(255, 255, 255, 0.823),
    74px 241px 0 0px rgba(255, 255, 255, 0.684),
    520px 244px 0 0px rgba(255, 255, 255, 0.792),
    824px 1011px 0 0px rgba(255, 255, 255, 0.691),
    1592px 428px 0 0px rgba(255, 255, 255, 0.742),
    437px 1612px 0 0px rgba(255, 255, 255, 0.969),
    744px 1197px 0 0px rgba(255, 255, 255, 0.146),
    1452px 1200px 0 0px rgba(255, 255, 255, 0.856),
    846px 1686px 0 0px rgba(255, 255, 255, 0.054),
    858px 1739px 0 0px rgba(255, 255, 255, 0.664),
    355px 163px 0 0px rgba(255, 255, 255, 0.075),
    1668px 1222px 0 0px rgba(255, 255, 255, 0.77),
    719px 780px 0 0px rgba(255, 255, 255, 0.259),
    1256px 730px 0 0px rgba(255, 255, 255, 0.865),
    552px 957px 0 0px rgba(255, 255, 255, 0.457),
    218px 1711px 0 0px rgba(255, 255, 255, 0.313),
    991px 1008px 0 0px rgba(255, 255, 255, 0.735),
    128px 1234px 0 0px rgba(255, 255, 255, 0.586),
    232px 715px 0 0px rgba(255, 255, 255, 0.108),
    1211px 1654px 0 0px rgba(255, 255, 255, 0.794),
    1166px 1766px 0 0px rgba(255, 255, 255, 0.104),
    871px 101px 0 0px rgba(255, 255, 255, 0.01),
    1223px 932px 0 0px rgba(255, 255, 255, 0.816),
    1510px 948px 0 0px rgba(255, 255, 255, 0.077),
    739px 1100px 0 0px rgba(255, 255, 255, 0.54),
    443px 108px 0 0px rgba(255, 255, 255, 0.42),
    1370px 1273px 0 0px rgba(255, 255, 255, 0.096),
    720px 1098px 0 0px rgba(255, 255, 255, 0.623),
    962px 375px 0 0px rgba(255, 255, 255, 0.693),
    1281px 977px 0 0px rgba(255, 255, 255, 0.459),
    848px 1154px 0 0px rgba(255, 255, 255, 0.974),
    243px 1451px 0 0px rgba(255, 255, 255, 0.934),
    1136px 1633px 0 0px rgba(255, 255, 255, 0.953),
    8px 1306px 0 0px rgba(255, 255, 255, 0.879),
    1384px 1254px 0 0px rgba(255, 255, 255, 0.663),
    8px 795px 0 0px rgba(255, 255, 255, 0.217),
    498px 1272px 0 0px rgba(255, 255, 255, 0.697),
    1236px 1255px 0 0px rgba(255, 255, 255, 0.46),
    1564px 536px 0 0px rgba(255, 255, 255, 0.617),
    141px 1482px 0 0px rgba(255, 255, 255, 0.459),
    1056px 1492px 0 0px rgba(255, 255, 255, 0.681),
    1637px 1078px 0 0px rgba(255, 255, 255, 0.35),
    63px 934px 0 0px rgba(255, 255, 255, 0.091),
    1106px 467px 0 0px rgba(255, 255, 255, 0.326),
    1185px 870px 0 0px rgba(255, 255, 255, 0.029),
    643px 795px 0 0px rgba(255, 255, 255, 0.773),
    247px 1167px 0 0px rgba(255, 255, 255, 0.725),
    286px 94px 0 0px rgba(255, 255, 255, 0.108),
    1677px 1761px 0 0px rgba(255, 255, 255, 0.758),
    1419px 555px 0 0px rgba(255, 255, 255, 0.076),
    1630px 231px 0 0px rgba(255, 255, 255, 0.105),
    1549px 1715px 0 0px rgba(255, 255, 255, 0.551),
    1705px 258px 0 0px rgba(255, 255, 255, 0.022),
    719px 1118px 0 0px rgba(255, 255, 255, 0.155),
    1509px 1684px 0 0px rgba(255, 255, 255, 0.522),
    552px 1367px 0 0px rgba(255, 255, 255, 0.325),
    1418px 944px 0 0px rgba(255, 255, 255, 0.38),
    910px 1138px 0 0px rgba(255, 255, 255, 0.535),
    1117px 767px 0 0px rgba(255, 255, 255, 0.447),
    32px 1279px 0 0px rgba(255, 255, 255, 0.793),
    1068px 9px 0 0px rgba(255, 255, 255, 0.784),
    751px 1420px 0 0px rgba(255, 255, 255, 0.041),
    498px 434px 0 0px rgba(255, 255, 255, 0.008),
    485px 1205px 0 0px rgba(255, 255, 255, 0.588),
    867px 867px 0 0px rgba(255, 255, 255, 0.042),
    1286px 301px 0 0px rgba(255, 255, 255, 0.472),
    681px 997px 0 0px rgba(255, 255, 255, 0.034),
    1164px 526px 0 0px rgba(255, 255, 255, 0.486),
    402px 1751px 0 0px rgba(255, 255, 255, 0.222),
    1700px 274px 0 0px rgba(255, 255, 255, 0.066),
    602px 1795px 0 0px rgba(255, 255, 255, 0.772),
    34px 1415px 0 0px rgba(255, 255, 255, 0.585),
    1407px 178px 0 0px rgba(255, 255, 255, 0.039),
    970px 939px 0 0px rgba(255, 255, 255, 0.455),
    1044px 395px 0 0px rgba(255, 255, 255, 0.053),
    1319px 751px 0 0px rgba(255, 255, 255, 0.905),
    471px 133px 0 0px rgba(255, 255, 255, 0.467),
    240px 182px 0 0px rgba(255, 255, 255, 0.463),
    1766px 1206px 0 0px rgba(255, 255, 255, 0.034),
    413px 1177px 0 0px rgba(255, 255, 255, 0.365),
    874px 312px 0 0px rgba(255, 255, 255, 0.092),
    566px 1201px 0 0px rgba(255, 255, 255, 0.182),
    1739px 1159px 0 0px rgba(255, 255, 255, 0.965),
    1185px 749px 0 0px rgba(255, 255, 255, 0.742),
    295px 864px 0 0px rgba(255, 255, 255, 0.726),
    368px 52px 0 0px rgba(255, 255, 255, 0.89),
    1321px 338px 0 0px rgba(255, 255, 255, 0.622),
    254px 252px 0 0px rgba(255, 255, 255, 0.37),
    446px 482px 0 0px rgba(255, 255, 255, 0.353),
    976px 605px 0 0px rgba(255, 255, 255, 0.194),
    383px 531px 0 0px rgba(255, 255, 255, 0.853),
    364px 1116px 0 0px rgba(255, 255, 255, 0.915),
    885px 230px 0 0px rgba(255, 255, 255, 0.764),
    463px 180px 0 0px rgba(255, 255, 255, 0.965),
    1030px 849px 0 0px rgba(255, 255, 255, 0.907),
    889px 1632px 0 0px rgba(255, 255, 255, 0.251),
    1189px 1090px 0 0px rgba(255, 255, 255, 0.053),
    545px 232px 0 0px rgba(255, 255, 255, 0.404),
    1746px 643px 0 0px rgba(255, 255, 255, 0.72),
    906px 206px 0 0px rgba(255, 255, 255, 0.482),
    1718px 786px 0 0px rgba(255, 255, 255, 0.661),
    1046px 1017px 0 0px rgba(255, 255, 255, 0.261),
    1532px 1539px 0 0px rgba(255, 255, 255, 0.793),
    1539px 375px 0 0px rgba(255, 255, 255, 0.77),
    339px 1273px 0 0px rgba(255, 255, 255, 0.477),
    778px 1113px 0 0px rgba(255, 255, 255, 0.102),
    332px 643px 0 0px rgba(255, 255, 255, 0.235),
    255px 789px 0 0px rgba(255, 255, 255, 0.51),
    761px 84px 0 0px rgba(255, 255, 255, 0.517),
    205px 945px 0 0px rgba(255, 255, 255, 0.333),
    843px 1784px 0 0px rgba(255, 255, 255, 0.179),
    1322px 1799px 0 0px rgba(255, 255, 255, 0.43),
    302px 48px 0 0px rgba(255, 255, 255, 0.026),
    281px 1046px 0 0px rgba(255, 255, 255, 0.97),
    1408px 1652px 0 0px rgba(255, 255, 255, 0.379),
    1205px 1737px 0 0px rgba(255, 255, 255, 0.732),
    1331px 1746px 0 0px rgba(255, 255, 255, 0.835),
    75px 752px 0 0px rgba(255, 255, 255, 0.458),
    1142px 23px 0 0px rgba(255, 255, 255, 0.327),
    700px 481px 0 0px rgba(255, 255, 255, 0.062),
    777px 906px 0 0px rgba(255, 255, 255, 0.903),
    1364px 1778px 0 0px rgba(255, 255, 255, 0.544),
    1240px 1102px 0 0px rgba(255, 255, 255, 0.947),
    621px 327px 0 0px rgba(255, 255, 255, 0.058),
    761px 1571px 0 0px rgba(255, 255, 255, 0.099),
    651px 1077px 0 0px rgba(255, 255, 255, 0.437),
    1268px 218px 0 0px rgba(255, 255, 255, 0.244),
    242px 773px 0 0px rgba(255, 255, 255, 0.096),
    1192px 980px 0 0px rgba(255, 255, 255, 0.089),
    816px 605px 0 0px rgba(255, 255, 255, 0.091),
    898px 792px 0 0px rgba(255, 255, 255, 0.165),
    1574px 1574px 0 0px rgba(255, 255, 255, 0.223),
    802px 269px 0 0px rgba(255, 255, 255, 0.136),
    1407px 1448px 0 0px rgba(255, 255, 255, 0.984),
    1174px 1595px 0 0px rgba(255, 255, 255, 0.837),
    950px 812px 0 0px rgba(255, 255, 255, 0.782),
    1614px 74px 0 0px rgba(255, 255, 255, 0.621),
    739px 1535px 0 0px rgba(255, 255, 255, 0.449),
    1753px 1199px 0 0px rgba(255, 255, 255, 0.55),
    667px 533px 0 0px rgba(255, 255, 255, 0.522),
    950px 541px 0 0px rgba(255, 255, 255, 0.414),
    988px 1011px 0 0px rgba(255, 255, 255, 0.294),
    1648px 329px 0 0px rgba(255, 255, 255, 0.609),
    1406px 107px 0 0px rgba(255, 255, 255, 0.858),
    1734px 906px 0 0px rgba(255, 255, 255, 0.427),
    142px 1209px 0 0px rgba(255, 255, 255, 0.044),
    184px 1764px 0 0px rgba(255, 255, 255, 0.566),
    1775px 1280px 0 0px rgba(255, 255, 255, 0.286),
    7px 567px 0 0px rgba(255, 255, 255, 0.504),
    779px 1405px 0 0px rgba(255, 255, 255, 0.679),
    387px 1310px 0 0px rgba(255, 255, 255, 0.469),
    171px 1675px 0 0px rgba(255, 255, 255, 0.782),
    1738px 324px 0 0px rgba(255, 255, 255, 0.184),
    279px 337px 0 0px rgba(255, 255, 255, 0.656),
    1348px 94px 0 0px rgba(255, 255, 255, 0.408),
    1354px 1468px 0 0px rgba(255, 255, 255, 0.909),
    1764px 1558px 0 0px rgba(255, 255, 255, 0.862),
    285px 719px 0 0px rgba(255, 255, 255, 0.89),
    449px 241px 0 0px rgba(255, 255, 255, 0.316),
    1279px 1470px 0 0px rgba(255, 255, 255, 0.543),
    128px 895px 0 0px rgba(255, 255, 255, 0.847),
    1393px 180px 0 0px rgba(255, 255, 255, 0.588),
    296px 1503px 0 0px rgba(255, 255, 255, 0.566),
    778px 133px 0 0px rgba(255, 255, 255, 0.629),
    1346px 657px 0 0px rgba(255, 255, 255, 0.036),
    728px 1338px 0 0px rgba(255, 255, 255, 0.789),
    1591px 1081px 0 0px rgba(255, 255, 255, 0.728),
    715px 747px 0 0px rgba(255, 255, 255, 0.687),
    1660px 352px 0 0px rgba(255, 255, 255, 0.979),
    757px 122px 0 0px rgba(255, 255, 255, 0.45),
    1721px 774px 0 0px rgba(255, 255, 255, 0.848),
    524px 45px 0 0px rgba(255, 255, 255, 0.362),
    594px 451px 0 0px rgba(255, 255, 255, 0.641),
    1094px 1123px 0 0px rgba(255, 255, 255, 0.148),
    7px 1215px 0 0px rgba(255, 255, 255, 0.008),
    97px 253px 0 0px rgba(255, 255, 255, 0.335),
    323px 1064px 0 0px rgba(255, 255, 255, 0.012),
    1404px 1409px 0 0px rgba(255, 255, 255, 0.048);
  border-radius: 100px;
}
.solar-syst div {
  border-radius: 1000px;
  top: 50%;
  left: 50%;
  position: absolute;
  z-index: 999;
}
.solar-syst div:not(.sun) {
  border: 1px solid rgba(102, 166, 229, 0.12);
}
.solar-syst div:not(.sun):before {
  left: 50%;
  border-radius: 100px;
  content: "";
  position: absolute;
}
.solar-syst div:not(.asteroids-belt):before {
  box-shadow: inset 0 6px 0 -2px rgba(0, 0, 0, 0.25);
}

.sun {
  height: 40px;
  width: 40px;
  margin-top: -20px;
  margin-left: -20px;
  background-clip: padding-box;
  border: 0 !important;
  background-position: -28px -103px;
  background-size: 175%;
  box-shadow: 0 0 10px 2px rgba(255, 107, 0, 0.4),
    0 0 22px 11px rgba(255, 203, 0, 0.13);
}

.mercury {
  height: 70px;
  width: 70px;
  margin-top: -35px;
  margin-left: -35px;
  -webkit-animation: orb 7.1867343561s linear infinite;
  animation: orb 7.1867343561s linear infinite;
}
.venus {
  height: 100px;
  width: 100px;
  margin-top: -50px;
  margin-left: -50px;
  -webkit-animation: orb 18.4555338265s linear infinite;
  animation: orb 18.4555338265s linear infinite;
}
.earth {
  height: 145px;
  width: 145px;
  margin-top: -72.5px;
  margin-left: -72.5px;
  -webkit-animation: orb 30s linear infinite;
  animation: orb 30s linear infinite;
}
.mars {
  height: 190px;
  width: 190px;
  margin-top: -95px;
  margin-left: -95px;
  -webkit-animation: orb 56.4261314589s linear infinite;
  animation: orb 56.4261314589s linear infinite;
}

.jupiter {
  height: 340px;
  width: 340px;
  margin-top: -170px;
  margin-left: -170px;
  -webkit-animation: orb 355.7228171013s linear infinite;
  animation: orb 355.7228171013s linear infinite;
}
.saturn {
  height: 440px;
  width: 440px;
  margin-top: -220px;
  margin-left: -220px;
  -webkit-animation: orb 882.6952471456s linear infinite;
  animation: orb 882.6952471456s linear infinite;
}
.uranus {
  height: 520px;
  width: 520px;
  margin-top: -260px;
  margin-left: -260px;
  -webkit-animation: orb 2512.4001967933s linear infinite;
  animation: orb 2512.4001967933s linear infinite;
}
.neptune {
  height: 630px;
  width: 630px;
  margin-top: -315px;
  margin-left: -315px;
  -webkit-animation: orb 4911.7838624549s linear infinite;
  animation: orb 4911.7838624549s linear infinite;
}
.asteroids-belt {
  opacity: 0.7;
  border-color: transparent !important;
  height: 300px;
  width: 300px;
  margin-top: -150px;
  margin-left: -150px;
  -webkit-animation: orb 179.9558282773s linear infinite;
  animation: orb 179.9558282773s linear infinite;
  overflow: hidden;
}
.asteroids-belt:before {
  top: 50%;
  height: 210px;
  width: 210px;
  margin-left: -105px;
  margin-top: -105px;
  background: transparent;
  border-radius: 140px !important;
  box-shadow: 95px 145px 0 -104px rgba(255, 255, 255, 0.318),
    -88px 86px 0 -104px rgba(255, 255, 255, 0.301),
    -81px -55px 0 -104px rgba(255, 255, 255, 0.267),
    -97px 119px 0 -104px rgba(255, 255, 255, 0.946),
    64px -119px 0 -104px rgba(255, 255, 255, 0.01),
    -36px -18px 0 -104px rgba(255, 255, 255, 0.055),
    -104px -29px 0 -104px rgba(255, 255, 255, 0.582),
    -22px 56px 0 -104px rgba(255, 255, 255, 0.402),
    -124px -44px 0 -104px rgba(255, 255, 255, 0.289),
    -141px 68px 0 -104px rgba(255, 255, 255, 0.631),
    -119px 141px 0 -104px rgba(255, 255, 255, 0.576),
    -128px -74px 0 -104px rgba(255, 255, 255, 0.012),
    23px 67px 0 -104px rgba(255, 255, 255, 0.881),
    -41px 70px 0 -104px rgba(255, 255, 255, 0.082),
    65px 128px 0 -104px rgba(255, 255, 255, 0.544),
    27px 47px 0 -104px rgba(255, 255, 255, 0.53),
    66px 28px 0 -104px rgba(255, 255, 255, 0.636),
    -13px 61px 0 -104px rgba(255, 255, 255, 0.432),
    25px 113px 0 -104px rgba(255, 255, 255, 0.331),
    71px 127px 0 -104px rgba(255, 255, 255, 0.724),
    -114px 23px 0 -104px rgba(255, 255, 255, 0.875),
    55px -23px 0 -104px rgba(255, 255, 255, 0.149),
    -91px 94px 0 -104px rgba(255, 255, 255, 0.016),
    12px 33px 0 -104px rgba(255, 255, 255, 0.238),
    53px 84px 0 -104px rgba(255, 255, 255, 0.228),
    88px 13px 0 -104px rgba(255, 255, 255, 0.236),
    80px 113px 0 -104px rgba(255, 255, 255, 0.761),
    -8px 86px 0 -104px rgba(255, 255, 255, 0.196),
    31px 51px 0 -104px rgba(255, 255, 255, 0.77),
    -140px -38px 0 -104px rgba(255, 255, 255, 0.921),
    140px 83px 0 -104px rgba(255, 255, 255, 0.219),
    142px 46px 0 -104px rgba(255, 255, 255, 0.967),
    40px 21px 0 -104px rgba(255, 255, 255, 0.379),
    134px 94px 0 -104px rgba(255, 255, 255, 0.441),
    64px -3px 0 -104px rgba(255, 255, 255, 0.113),
    62px -75px 0 -104px rgba(255, 255, 255, 0.117),
    -79px 46px 0 -104px rgba(255, 255, 255, 0.571),
    -49px -3px 0 -104px rgba(255, 255, 255, 0.952),
    125px -21px 0 -104px rgba(255, 255, 255, 0.316),
    -97px 73px 0 -104px rgba(255, 255, 255, 0.867),
    -142px 134px 0 -104px rgba(255, 255, 255, 0.002),
    133px 89px 0 -104px rgba(255, 255, 255, 0.443),
    12px 41px 0 -104px rgba(255, 255, 255, 0.1),
    -134px 102px 0 -104px rgba(255, 255, 255, 0.325),
    41px 19px 0 -104px rgba(255, 255, 255, 0.413),
    59px 0px 0 -104px rgba(255, 255, 255, 0.133),
    112px -5px 0 -104px rgba(255, 255, 255, 0.911),
    -32px 37px 0 -104px rgba(255, 255, 255, 0.861),
    -128px 12px 0 -104px rgba(255, 255, 255, 0.186),
    -8px -88px 0 -104px rgba(255, 255, 255, 0.673),
    15px -97px 0 -104px rgba(255, 255, 255, 0.481),
    -76px -119px 0 -104px rgba(255, 255, 255, 0.769),
    -30px 104px 0 -104px rgba(255, 255, 255, 0.071),
    -77px 145px 0 -104px rgba(255, 255, 255, 0.55),
    37px -57px 0 -104px rgba(255, 255, 255, 0.832),
    -14px -60px 0 -104px rgba(255, 255, 255, 0.602),
    -14px -107px 0 -104px rgba(255, 255, 255, 0.184),
    135px 43px 0 -104px rgba(255, 255, 255, 0.15),
    131px -127px 0 -104px rgba(255, 255, 255, 0.737),
    -91px -103px 0 -104px rgba(255, 255, 255, 0.333),
    -74px -60px 0 -104px rgba(255, 255, 255, 0.511),
    -48px -1px 0 -104px rgba(255, 255, 255, 0.95),
    -96px -5px 0 -104px rgba(255, 255, 255, 0.902),
    -49px -121px 0 -104px rgba(255, 255, 255, 0.584),
    60px -62px 0 -104px rgba(255, 255, 255, 0.652),
    29px -112px 0 -104px rgba(255, 255, 255, 0.226),
    88px 102px 0 -104px rgba(255, 255, 255, 0.993),
    30px 103px 0 -104px rgba(255, 255, 255, 0.524),
    47px -58px 0 -104px rgba(255, 255, 255, 0.223),
    -70px -26px 0 -104px rgba(255, 255, 255, 0.23),
    39px -142px 0 -104px rgba(255, 255, 255, 0.079),
    -74px -84px 0 -104px rgba(255, 255, 255, 0.939),
    121px -102px 0 -104px rgba(255, 255, 255, 0.202),
    51px 48px 0 -104px rgba(255, 255, 255, 0.705),
    -25px -48px 0 -104px rgba(255, 255, 255, 0.416),
    108px 7px 0 -104px rgba(255, 255, 255, 0.654),
    -84px -84px 0 -104px rgba(255, 255, 255, 0.144),
    96px 77px 0 -104px rgba(255, 255, 255, 0.831),
    -121px 76px 0 -104px rgba(255, 255, 255, 0.141),
    38px 78px 0 -104px rgba(255, 255, 255, 0.386),
    -41px -144px 0 -104px rgba(255, 255, 255, 0.146),
    -9px 47px 0 -104px rgba(255, 255, 255, 0.882),
    -120px -89px 0 -104px rgba(255, 255, 255, 0.046),
    -83px 52px 0 -104px rgba(255, 255, 255, 0.045),
    102px 74px 0 -104px rgba(255, 255, 255, 0.701),
    51px 142px 0 -104px rgba(255, 255, 255, 0.585),
    -18px -72px 0 -104px rgba(255, 255, 255, 0.084),
    50px -141px 0 -104px rgba(255, 255, 255, 0.46),
    17px -122px 0 -104px rgba(255, 255, 255, 0.253),
    104px -93px 0 -104px rgba(255, 255, 255, 0.602),
    10px 52px 0 -104px rgba(255, 255, 255, 0.505),
    -104px -132px 0 -104px rgba(255, 255, 255, 0.26),
    -51px 88px 0 -104px rgba(255, 255, 255, 0.078),
    -22px -119px 0 -104px rgba(255, 255, 255, 0.345),
    106px -115px 0 -104px rgba(255, 255, 255, 0.67),
    125px 135px 0 -104px rgba(255, 255, 255, 0.622),
    53px -31px 0 -104px rgba(255, 255, 255, 0.699),
    134px -69px 0 -104px rgba(255, 255, 255, 0.512),
    -47px -114px 0 -104px rgba(255, 255, 255, 0.318),
    -48px 69px 0 -104px rgba(255, 255, 255, 0.164),
    -21px -137px 0 -104px rgba(255, 255, 255, 0.31),
    -100px -4px 0 -104px rgba(255, 255, 255, 0.368),
    -109px -15px 0 -104px rgba(255, 255, 255, 0.24),
    78px -76px 0 -104px rgba(255, 255, 255, 0.663),
    -111px -27px 0 -104px rgba(255, 255, 255, 0.649),
    29px -105px 0 -104px rgba(255, 255, 255, 0.048),
    -52px 78px 0 -104px rgba(255, 255, 255, 0.015),
    129px -35px 0 -104px rgba(255, 255, 255, 0.102),
    101px -86px 0 -104px rgba(255, 255, 255, 0.36),
    -4px -87px 0 -104px rgba(255, 255, 255, 1),
    -18px 26px 0 -104px rgba(255, 255, 255, 0.344),
    97px -11px 0 -104px rgba(255, 255, 255, 0.911),
    -89px -52px 0 -104px rgba(255, 255, 255, 0.288),
    9px -105px 0 -104px rgba(255, 255, 255, 0.894),
    73px -73px 0 -104px rgba(255, 255, 255, 0.935),
    -122px -65px 0 -104px rgba(255, 255, 255, 0.497),
    23px 126px 0 -104px rgba(255, 255, 255, 0.723),
    92px -94px 0 -104px rgba(255, 255, 255, 0.899),
    98px -83px 0 -104px rgba(255, 255, 255, 0.992),
    -74px 37px 0 -104px rgba(255, 255, 255, 0.736),
    -60px -63px 0 -104px rgba(255, 255, 255, 0.801),
    23px 113px 0 -104px rgba(255, 255, 255, 0.838),
    -113px 31px 0 -104px rgba(255, 255, 255, 0.733),
    -58px 120px 0 -104px rgba(255, 255, 255, 0.299),
    125px 13px 0 -104px rgba(255, 255, 255, 0.829),
    142px -72px 0 -104px rgba(255, 255, 255, 0.198),
    -100px 124px 0 -104px rgba(255, 255, 255, 0.087),
    29px -21px 0 -104px rgba(255, 255, 255, 0.557),
    27px -33px 0 -104px rgba(255, 255, 255, 0.476),
    13px 18px 0 -104px rgba(255, 255, 255, 0.615),
    20px -20px 0 -104px rgba(255, 255, 255, 0.42),
    -103px 55px 0 -104px rgba(255, 255, 255, 0.915),
    132px -126px 0 -104px rgba(255, 255, 255, 0.683),
    -83px 28px 0 -104px rgba(255, 255, 255, 0.631),
    -129px 135px 0 -104px rgba(255, 255, 255, 0.662),
    23px 138px 0 -104px rgba(255, 255, 255, 0.391),
    24px -144px 0 -104px rgba(255, 255, 255, 0.221),
    30px -98px 0 -104px rgba(255, 255, 255, 0.248),
    51px -74px 0 -104px rgba(255, 255, 255, 0.968),
    -132px -107px 0 -104px rgba(255, 255, 255, 0.46),
    -121px -124px 0 -104px rgba(255, 255, 255, 0.442),
    143px 24px 0 -104px rgba(255, 255, 255, 0.031),
    -34px 91px 0 -104px rgba(255, 255, 255, 0.428),
    27px -118px 0 -104px rgba(255, 255, 255, 0.874),
    -38px 7px 0 -104px rgba(255, 255, 255, 0.961),
    -89px 63px 0 -104px rgba(255, 255, 255, 0.884),
    119px -121px 0 -104px rgba(255, 255, 255, 0.909),
    -72px -24px 0 -104px rgba(255, 255, 255, 0.846),
    -46px 54px 0 -104px rgba(255, 255, 255, 0.139),
    -60px 23px 0 -104px rgba(255, 255, 255, 0.53),
    -73px 54px 0 -104px rgba(255, 255, 255, 0.785),
    113px 89px 0 -104px rgba(255, 255, 255, 0.686),
    67px -91px 0 -104px rgba(255, 255, 255, 0.605),
    -51px -70px 0 -104px rgba(255, 255, 255, 0.757),
    121px 27px 0 -104px rgba(255, 255, 255, 0.855),
    -47px -121px 0 -104px rgba(255, 255, 255, 0.162),
    -36px -89px 0 -104px rgba(255, 255, 255, 0.402),
    -111px 31px 0 -104px rgba(255, 255, 255, 0.816),
    -109px -119px 0 -104px rgba(255, 255, 255, 0.145),
    -20px -91px 0 -104px rgba(255, 255, 255, 0.794),
    72px 79px 0 -104px rgba(255, 255, 255, 0.914),
    28px -90px 0 -104px rgba(255, 255, 255, 0.855),
    -22px 56px 0 -104px rgba(255, 255, 255, 0.62),
    -114px 132px 0 -104px rgba(255, 255, 255, 0.146),
    3px -91px 0 -104px rgba(255, 255, 255, 0.857),
    40px -118px 0 -104px rgba(255, 255, 255, 0.46),
    -133px -74px 0 -104px rgba(255, 255, 255, 0.275),
    145px 52px 0 -104px rgba(255, 255, 255, 0.207),
    68px 77px 0 -104px rgba(255, 255, 255, 0.655),
    117px -3px 0 -104px rgba(255, 255, 255, 0.961),
    98px -5px 0 -104px rgba(255, 255, 255, 0.981),
    -96px -70px 0 -104px rgba(255, 255, 255, 0.673),
    -141px -125px 0 -104px rgba(255, 255, 255, 0.096),
    -96px 8px 0 -104px rgba(255, 255, 255, 0.815),
    -42px -64px 0 -104px rgba(255, 255, 255, 0.992),
    -32px -15px 0 -104px rgba(255, 255, 255, 0.835),
    -88px 39px 0 -104px rgba(255, 255, 255, 0.769),
    -95px 23px 0 -104px rgba(255, 255, 255, 0.017),
    -34px -43px 0 -104px rgba(255, 255, 255, 0.313),
    17px -90px 0 -104px rgba(255, 255, 255, 0.692),
    -140px -85px 0 -104px rgba(255, 255, 255, 0.518),
    -81px -84px 0 -104px rgba(255, 255, 255, 0.488),
    -66px -92px 0 -104px rgba(255, 255, 255, 0.049),
    -82px 59px 0 -104px rgba(255, 255, 255, 0.812),
    -66px 136px 0 -104px rgba(255, 255, 255, 0.611),
    -95px -17px 0 -104px rgba(255, 255, 255, 0.85),
    -4px 14px 0 -104px rgba(255, 255, 255, 0.478),
    125px 34px 0 -104px rgba(255, 255, 255, 0.745),
    117px -123px 0 -104px rgba(255, 255, 255, 0.521),
    94px -81px 0 -104px rgba(255, 255, 255, 0.334),
    35px -78px 0 -104px rgba(255, 255, 255, 0.973),
    -66px -134px 0 -104px rgba(255, 255, 255, 0.309),
    17px 110px 0 -104px rgba(255, 255, 255, 0.881),
    39px 106px 0 -104px rgba(255, 255, 255, 0.168),
    47px 105px 0 -104px rgba(255, 255, 255, 0.235),
    144px -144px 0 -104px rgba(255, 255, 255, 0.339),
    -77px -85px 0 -104px rgba(255, 255, 255, 0.778),
    -113px -97px 0 -104px rgba(255, 255, 255, 0.501),
    -45px -43px 0 -104px rgba(255, 255, 255, 0.029),
    -137px 87px 0 -104px rgba(255, 255, 255, 0.542),
    141px -11px 0 -104px rgba(255, 255, 255, 0.61),
    -122px -16px 0 -104px rgba(255, 255, 255, 0.854),
    -7px -124px 0 -104px rgba(255, 255, 255, 0.858),
    -61px 140px 0 -104px rgba(255, 255, 255, 0.488),
    45px -115px 0 -104px rgba(255, 255, 255, 0.746),
    113px 32px 0 -104px rgba(255, 255, 255, 0.024),
    -78px 143px 0 -104px rgba(255, 255, 255, 0.026),
    120px -2px 0 -104px rgba(255, 255, 255, 0.618),
    -49px 131px 0 -104px rgba(255, 255, 255, 0.313),
    3px 40px 0 -104px rgba(255, 255, 255, 0.464),
    -89px -126px 0 -104px rgba(255, 255, 255, 0.526),
    -66px 109px 0 -104px rgba(255, 255, 255, 0.377),
    74px 41px 0 -104px rgba(255, 255, 255, 0.089),
    55px 102px 0 -104px rgba(255, 255, 255, 0.3),
    -31px -107px 0 -104px rgba(255, 255, 255, 0.016),
    -59px 69px 0 -104px rgba(255, 255, 255, 0.08),
    -92px -12px 0 -104px rgba(255, 255, 255, 0.295),
    107px -25px 0 -104px rgba(255, 255, 255, 0.615),
    -2px -49px 0 -104px rgba(255, 255, 255, 0.62),
    87px -29px 0 -104px rgba(255, 255, 255, 0.22),
    137px -136px 0 -104px rgba(255, 255, 255, 0.134),
    70px -100px 0 -104px rgba(255, 255, 255, 0.646),
    -65px 110px 0 -104px rgba(255, 255, 255, 0.338),
    -82px -131px 0 -104px rgba(255, 255, 255, 0.781),
    62px -53px 0 -104px rgba(255, 255, 255, 0.454),
    17px -61px 0 -104px rgba(255, 255, 255, 0.712),
    110px 139px 0 -104px rgba(255, 255, 255, 0.501),
    -64px 44px 0 -104px rgba(255, 255, 255, 0.356),
    101px 2px 0 -104px rgba(255, 255, 255, 0.867),
    6px 121px 0 -104px rgba(255, 255, 255, 0.935),
    -69px -113px 0 -104px rgba(255, 255, 255, 0.983),
    -2px 55px 0 -104px rgba(255, 255, 255, 0.464),
    -119px -66px 0 -104px rgba(255, 255, 255, 0.757),
    -139px 50px 0 -104px rgba(255, 255, 255, 0.359),
    73px 140px 0 -104px rgba(255, 255, 255, 0.466),
    -12px 122px 0 -104px rgba(255, 255, 255, 0.327),
    66px -130px 0 -104px rgba(255, 255, 255, 0.164),
    14px -135px 0 -104px rgba(255, 255, 255, 0.662),
    -52px -70px 0 -104px rgba(255, 255, 255, 0.633),
    -60px -121px 0 -104px rgba(255, 255, 255, 0.514),
    -1px 31px 0 -104px rgba(255, 255, 255, 0.327),
    48px -97px 0 -104px rgba(255, 255, 255, 0.917),
    -31px -95px 0 -104px rgba(255, 255, 255, 0.093),
    -127px -113px 0 -104px rgba(255, 255, 255, 0.384),
    -73px 49px 0 -104px rgba(255, 255, 255, 0.47),
    60px 136px 0 -104px rgba(255, 255, 255, 0.838),
    99px 69px 0 -104px rgba(255, 255, 255, 0.269),
    -61px 37px 0 -104px rgba(255, 255, 255, 0.466),
    98px 106px 0 -104px rgba(255, 255, 255, 0.016),
    106px -15px 0 -104px rgba(255, 255, 255, 0.211),
    -61px 93px 0 -104px rgba(255, 255, 255, 0.303),
    -134px 61px 0 -104px rgba(255, 255, 255, 0.05),
    26px -105px 0 -104px rgba(255, 255, 255, 0.222),
    15px -66px 0 -104px rgba(255, 255, 255, 0.651),
    109px -45px 0 -104px rgba(255, 255, 255, 0.776),
    -117px 91px 0 -104px rgba(255, 255, 255, 0.202),
    2px -74px 0 -104px rgba(255, 255, 255, 0.993),
    -69px 59px 0 -104px rgba(255, 255, 255, 0.729),
    -50px 126px 0 -104px rgba(255, 255, 255, 0.405),
    -61px 32px 0 -104px rgba(255, 255, 255, 0.102),
    90px -108px 0 -104px rgba(255, 255, 255, 0.366),
    23px -138px 0 -104px rgba(255, 255, 255, 0.52),
    109px 2px 0 -104px rgba(255, 255, 255, 0.038),
    -82px -24px 0 -104px rgba(255, 255, 255, 0.348),
    -100px 25px 0 -104px rgba(255, 255, 255, 0.942),
    -46px -17px 0 -104px rgba(255, 255, 255, 0.425),
    142px 109px 0 -104px rgba(255, 255, 255, 0.928),
    60px 91px 0 -104px rgba(255, 255, 255, 0.392),
    -7px 101px 0 -104px rgba(255, 255, 255, 0.313),
    -12px -117px 0 -104px rgba(255, 255, 255, 0.812),
    -128px -22px 0 -104px rgba(255, 255, 255, 0.624),
    -104px -19px 0 -104px rgba(255, 255, 255, 0.029),
    -36px -65px 0 -104px rgba(255, 255, 255, 0.816),
    61px 129px 0 -104px rgba(255, 255, 255, 0.914),
    -60px 125px 0 -104px rgba(255, 255, 255, 0.333),
    145px 94px 0 -104px rgba(255, 255, 255, 0.756),
    44px -121px 0 -104px rgba(255, 255, 255, 0.502),
    3px -17px 0 -104px rgba(255, 255, 255, 0.291),
    -81px 142px 0 -104px rgba(255, 255, 255, 0.093),
    -132px 68px 0 -104px rgba(255, 255, 255, 0.075),
    -28px 93px 0 -104px rgba(255, 255, 255, 0.489),
    23px -13px 0 -104px rgba(255, 255, 255, 0.553),
    14px -115px 0 -104px rgba(255, 255, 255, 0.891),
    125px -80px 0 -104px rgba(255, 255, 255, 0.093),
    48px -4px 0 -104px rgba(255, 255, 255, 0.532),
    65px 143px 0 -104px rgba(255, 255, 255, 0.039),
    -61px -68px 0 -104px rgba(255, 255, 255, 0.555),
    54px -138px 0 -104px rgba(255, 255, 255, 0.533),
    -95px -26px 0 -104px rgba(255, 255, 255, 0.682),
    -135px 64px 0 -104px rgba(255, 255, 255, 0.582),
    59px 26px 0 -104px rgba(255, 255, 255, 0.934),
    -43px 70px 0 -104px rgba(255, 255, 255, 0.643),
    -7px 33px 0 -104px rgba(255, 255, 255, 0.918),
    -3px 49px 0 -104px rgba(255, 255, 255, 0.835),
    142px -69px 0 -104px rgba(255, 255, 255, 0.622),
    137px 19px 0 -104px rgba(255, 255, 255, 0.495),
    2px 69px 0 -104px rgba(255, 255, 255, 0.695),
    63px 88px 0 -104px rgba(255, 255, 255, 0.085),
    124px 68px 0 -104px rgba(255, 255, 255, 0.867),
    60px -36px 0 -104px rgba(255, 255, 255, 0.337),
    19px 61px 0 -104px rgba(255, 255, 255, 0.363),
    141px 135px 0 -104px rgba(255, 255, 255, 0.528),
    -94px 116px 0 -104px rgba(255, 255, 255, 0.847),
    66px -11px 0 -104px rgba(255, 255, 255, 0.846),
    -51px 125px 0 -104px rgba(255, 255, 255, 0.269),
    11px -12px 0 -104px rgba(255, 255, 255, 0.676),
    54px 104px 0 -104px rgba(255, 255, 255, 0.034),
    -72px 26px 0 -104px rgba(255, 255, 255, 0.328),
    13px -96px 0 -104px rgba(255, 255, 255, 0.257),
    71px 117px 0 -104px rgba(255, 255, 255, 0.047),
    -2px -100px 0 -104px rgba(255, 255, 255, 0.459),
    75px 34px 0 -104px rgba(255, 255, 255, 0.131),
    20px 0px 0 -104px rgba(255, 255, 255, 0.199),
    -127px 99px 0 -104px rgba(255, 255, 255, 0.256),
    -91px 73px 0 -104px rgba(255, 255, 255, 0.67),
    68px 28px 0 -104px rgba(255, 255, 255, 0.364),
    -37px 84px 0 -104px rgba(255, 255, 255, 0.17),
    90px 16px 0 -104px rgba(255, 255, 255, 0.642),
    42px 118px 0 -104px rgba(255, 255, 255, 0.621),
    -49px -95px 0 -104px rgba(255, 255, 255, 0.069),
    116px 20px 0 -104px rgba(255, 255, 255, 0.377),
    84px -82px 0 -104px rgba(255, 255, 255, 0.809),
    -1px 68px 0 -104px rgba(255, 255, 255, 0.083),
    -24px 6px 0 -104px rgba(255, 255, 255, 0.27),
    -115px -95px 0 -104px rgba(255, 255, 255, 0.972),
    72px 104px 0 -104px rgba(255, 255, 255, 0.713),
    -36px 103px 0 -104px rgba(255, 255, 255, 0.404),
    -30px -68px 0 -104px rgba(255, 255, 255, 0.531),
    -69px 55px 0 -104px rgba(255, 255, 255, 0.891),
    98px -35px 0 -104px rgba(255, 255, 255, 0.623),
    -47px -52px 0 -104px rgba(255, 255, 255, 0.932),
    34px -1px 0 -104px rgba(255, 255, 255, 0.219),
    22px -107px 0 -104px rgba(255, 255, 255, 0.589),
    -116px -25px 0 -104px rgba(255, 255, 255, 0.84),
    112px 15px 0 -104px rgba(255, 255, 255, 0.935),
    -126px 37px 0 -104px rgba(255, 255, 255, 0.664),
    -118px -58px 0 -104px rgba(255, 255, 255, 0.491),
    141px 56px 0 -104px rgba(255, 255, 255, 0.992),
    -116px 115px 0 -104px rgba(255, 255, 255, 0.059),
    -129px -114px 0 -104px rgba(255, 255, 255, 0.044),
    -83px 91px 0 -104px rgba(255, 255, 255, 0.413),
    67px -14px 0 -104px rgba(255, 255, 255, 0.302),
    11px -19px 0 -104px rgba(255, 255, 255, 0.472),
    -74px 39px 0 -104px rgba(255, 255, 255, 0.64),
    -113px -142px 0 -104px rgba(255, 255, 255, 0.067),
    89px -131px 0 -104px rgba(255, 255, 255, 0.417),
    -50px 40px 0 -104px rgba(255, 255, 255, 0.536),
    -70px 74px 0 -104px rgba(255, 255, 255, 0.061),
    91px -108px 0 -104px rgba(255, 255, 255, 0.215),
    -40px 92px 0 -104px rgba(255, 255, 255, 0.594),
    22px 66px 0 -104px rgba(255, 255, 255, 0.515),
    -27px -108px 0 -104px rgba(255, 255, 255, 0.145),
    54px 107px 0 -104px rgba(255, 255, 255, 0.017),
    5px 2px 0 -104px rgba(255, 255, 255, 0.774),
    -5px 143px 0 -104px rgba(255, 255, 255, 0.669),
    37px -94px 0 -104px rgba(255, 255, 255, 0.923),
    93px -91px 0 -104px rgba(255, 255, 255, 0.694),
    -85px 26px 0 -104px rgba(255, 255, 255, 0.776),
    130px 108px 0 -104px rgba(255, 255, 255, 0.62),
    22px 136px 0 -104px rgba(255, 255, 255, 0.335),
    -102px -117px 0 -104px rgba(255, 255, 255, 0.438),
    -45px 130px 0 -104px rgba(255, 255, 255, 0.931),
    -37px 136px 0 -104px rgba(255, 255, 255, 0.761),
    130px 9px 0 -104px rgba(255, 255, 255, 0.287),
    -51px -39px 0 -104px rgba(255, 255, 255, 0.887),
    -67px 137px 0 -104px rgba(255, 255, 255, 0.474),
    -134px -61px 0 -104px rgba(255, 255, 255, 0.992),
    -98px -108px 0 -104px rgba(255, 255, 255, 0.678),
    68px 12px 0 -104px rgba(255, 255, 255, 0.144),
    -119px -124px 0 -104px rgba(255, 255, 255, 0.57),
    -31px 64px 0 -104px rgba(255, 255, 255, 0.917),
    139px -30px 0 -104px rgba(255, 255, 255, 0.178),
    -25px -78px 0 -104px rgba(255, 255, 255, 0.797),
    60px 2px 0 -104px rgba(255, 255, 255, 0.409),
    -24px 10px 0 -104px rgba(255, 255, 255, 0.624),
    105px 136px 0 -104px rgba(255, 255, 255, 0.466),
    75px 54px 0 -104px rgba(255, 255, 255, 0.568),
    -37px -42px 0 -104px rgba(255, 255, 255, 0.574),
    -71px 92px 0 -104px rgba(255, 255, 255, 0.531),
    -55px 71px 0 -104px rgba(255, 255, 255, 0.549),
    142px -44px 0 -104px rgba(255, 255, 255, 0.591),
    -28px -60px 0 -104px rgba(255, 255, 255, 0.6),
    -10px -137px 0 -104px rgba(255, 255, 255, 0.069),
    -143px 106px 0 -104px rgba(255, 255, 255, 0.595),
    -124px 36px 0 -104px rgba(255, 255, 255, 0.785),
    -142px 120px 0 -104px rgba(255, 255, 255, 0.958),
    43px -29px 0 -104px rgba(255, 255, 255, 0.445),
    70px 6px 0 -104px rgba(255, 255, 255, 0.592),
    38px -48px 0 -104px rgba(255, 255, 255, 0.258),
    87px -19px 0 -104px rgba(255, 255, 255, 0.102);
}

.pluto {
  height: 780px;
  width: 780px;
  margin-top: -450px;
  margin-left: -320px;
  -webkit-animation: orb 7439.7074054575s linear infinite;
  animation: orb 7439.7074054575s linear infinite;
}

.links {
  margin-top: 5px !important;
  font-size: 1em !important;
}

@-webkit-keyframes orb {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@keyframes orb {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
